<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workers tasks</title>
    <h1 class="tasks-header" style="text-align:center">Workers tasks</h1>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'workey_app/css/first.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'workey_app/css/second.css' %}" />
    <form style="margin-left: 90%" method="POST" action="{% url 'logout' %}">
       {% csrf_token %}
       <input style="margin-top: 10%" type="submit" value="Logout"/>
    </form>
  <form  style="margin-left: 90%"  method="GET" action="{% url 'index' %}">
           {% csrf_token %}
           <input style="margin-top: 10%" type="submit" value="Home Page"/>
   </form>
    <table  marid="example" class="table table-striped table-bordered" cellspacing="0" style="margin-left: 10%;width: 80%;margin-top: 5%;text-align: center;">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>Tasks list</th>
    </tr>
  </thead>
  <tbody>
    {% for worker in workers %}
        {% if worker.tasks %}
            <tr>
              <td>{{ worker.user.first_name }}</td>
              <td>{{ worker.user.last_name }}</td>
              <td>{{ worker.user.username }}</td>
              <td>{{ worker.tasks.all|join:", " }}</td>
            </tr>
        {% else %}
            <tr>
              <th scope="row">{{ counter|add:"1"}}</th>
              <td>{{ worker.user.first_name }}</td>
              <td>{{ worker.user.last_name }}</td>
              <td>{{ worker.user.username }}</td>
              <td>{{ "No tasks" }}</td>
            </tr>
        {% endif %}
    {% endfor %}
  </tbody>
</table>
</head>
<body>

</body>
</html>
